.filters {
    width: 5%;
    font-size: 13px;
}

#inp {
    width: 20%;
}

.btn {
    font-size: 13px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: -5px;
    width: 65px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box {
    display: flex;
    padding: 10px;
    gap: 30%;
    margin: auto;
}

.stk1 input,
select {
    width: 220% !important;
    padding: 7px;
}

.stk2 input,
select {
    width: 180% !important;
    padding: 7px;
}